* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.952);
    color: whitesmoke;
}
nav{
    margin-top: 15px;
    cursor:pointer;
    position: relative;
}
nav h1 img{
    width: 40px;
    border: 2px solid greey;
    border-radius: 5px;
    
    
}
nav h1{
    color:white;
    font-size: 35px;
    font-weight: 600;
    display: inline;
    margin-left: 20px;
    margin-top: 15px;
    margin-top: 6px;
    position: relative;
    left: 10px;
    top: 4px;

}
#trade{
    background: rgb(16, 202, 16);
    color: whitesmoke;
margin-right: 18px;}
button{
    padding: 10px;
    border: none;
    border-radius:3px;
    font-size: 15px;
    align-items: center;
}
#ethereum{
    margin-left: 6px;
    border-radius: 5px;
}
#ethereum img{
width: 15px;
border-radius: 2px;
margin-left: 5px;
}




.nav-bar{
    display: flex;
    align-items: center;
    
    
}
nav a{
    align-items: center;
   margin:  8px 20px;
   color: white;
font-size: 16px;
   text-decoration: none;
}











.container {
    width: 45%;
height: 400px;
padding: 20px;
margin: 20px 22px;            
    float: left;
    
    border: 2px solid grey; /* Added border */
    background-color: #1a1a1a; /* Added background color */
    padding: 10px; /* Added padding */
}
.basic p{
    margin-top: 5px;
}
.basic{
    margin:0 0;
    margin-top: 20px;
    margin-left: 25px;
}
.row span{
    float: right;
}
.row {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.container button{
    padding: 5px;
    width: 100px;
    background: rgb(10, 100, 10);
    border-radius: 3px;
    border: 1px solid grey;
}






